{
  "configuration": {
    "host" : "sage2rtt.evl.uic.edu",
    "port" : 8080,
    "endpoint": "paraview",
    "content": "/home/ssingh79/RemoteGL/visualizer/dist",
    "proxy_file" : "/home/ssingh79/RemoteGL/Map-Users/proxy.txt",
    "sessionURL" : "ws://${host}:${port}/ws",
    "timeout" : 5,
    "log_dir" : "/home/ssingh79/RemoteGL/viz-logs",
    "upload_dir" : "/home/ssingh79/RemoteGL/uploadDir",
    "fields" : ["file", "host", "port", "updir"]
  },

  "resources" : [ { "host" : "sage2rtt.evl.uic.edu", "port_range" : [9001, 9003] } ],

  "sessionData" : { "updir": "/home/ssingh79/RemoteGL/Home" },

  "properties" : {
    "build_dir" : "/home/ssingh79/RemoteGL/ParaView/bin",
    "python_exec" : "/home/ssingh79/RemoteGL/ParaView/bin/pvpython",
    "python_path" : "/home/ssingh79/Python2.7",
    "WWW" : "/home/ssingh79/RemoteGL/ParaView/share/paraview-5.2/www",
    "source_dir": "/home/ssingh79/RemoteGL/visualizer/src",
    "dataDir": "/home/ssingh79/RemoteGL/Data/"
  },

  "apps": {
    "visualizer": {
        "cmd": [
            "${python_exec}", "-dr", "/home/ssingh79/RemoteGL/visualizer/server/pvw-visualizer.py",
            "--port", "${port}", "--data", "${dataDir}", "-f", "--authKey", "${secret}"
        ],
        "ready_line" : "Starting factory"
    }
  }
}